
# build directory
BUILD/
RPMS/
SOURCES/
SPECS/


*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# --- BEGIN --- binaries files
src/numpy/numpy-1.8.0.tar.gz
src/python-2/Python-2.7.6.tgz
src/python-2/Python-2.7.8.tgz
src/python-3/Python-3.3.4.tgz
src/python-3/Python-3.3.6.tgz
src/setuptools/setuptools-6.1.tar.gz
src/setuptools3/setuptools-6.1.tar.gz

# --- END ---
