
# build directory
BUILD/
RPMS/
SOURCES/
SPECS/

bootstrap.py

*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# --- BEGIN --- binaries files
src/numpy/numpy-*gz
src/dateutil/python-dateutil*gz
src/python-2/Python-2*gz
src/python-3/Python-3*gz
src/setuptools/setuptools-*gz
src/setuptools3/setuptools-*gz

# --- END ---
